/* general */

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  border: none;
  outline: none;
  border-radius: 4px;
  background-color: greenyellow;
  transition: background-color 0.2s;
}

button:hover {
  background-color: lightgrey;
}

button:active {
  background-color: grey;
}

/* header */

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 60px;
  top: 0;
  left: 0;
  padding: 8px;
  background-color: black;
  z-index: 1;
}

#header .title {
  font-size: 20px;
  font-weight: bold;
  color: greenyellow;
}

#header .buttons {
  display: flex;
}

#header .sidebar-button {
  margin-left: 8px;
}

/* sidebar */

#sidebar {
  z-index: 1;
  position: fixed;
  width: 300px;
  height: calc(100% - 60px);
  top: 60px;
  right: 0;
  padding: 8px;
  background-color: greenyellow;
  transform: translateX(300px);
  transition: transform 0.2s;
  overflow: auto;
}

#sidebar.shown {
  transform: none;
}

#sidebar .question-link {
  padding: 4px;
  cursor: pointer;
}

#sidebar .question-link:hover {
  text-decoration: underline;
}

/* content */

#content {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 8px;
  padding-top: 68px;
  overflow: auto;
}

#content .question-cards {
  width: 100%;
  max-width: 700px;
  margin-bottom: 8px;
}

#content .question-cards > *:not(:last-child) {
  margin-bottom: 8px;
}

/* question card */

.question-card {
  flex: 0 0 auto;
  position: relative;
  border: 1px solid black;
  border-radius: 8px;
  background-color: lightgrey;
  overflow: hidden;
}

@keyframes editBackground {
  0% {
    background-color: white;
  }
  50% {
    background-color: whitesmoke;
  }
  100% {
    background-color: white;
  }
}

.question-card [contenteditable] {
  color: black;
  padding: 4px;
  border-radius: 4px;
  animation: editBackground 3s infinite;
}

.question-card .header, .question-card .answer, .question-card .other-data {
  padding: 8px;
}

.question-card .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: greenyellow;
  font-weight: bold;
}

.question-card .other-data {
  display: flex;
  border-top: 1px solid black;
  font-size: 12px;
  justify-content: space-between;
}

.question-card .star-rating {
  display: flex;
}

.question-card .star-rating > *:not(:first-child) {
  margin-left: 1px;
}

.question-card .star {
  width: 16px;
  height: 16px;
  background-color: grey;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.question-card .star.full {
  background-color: yellow;
}

.question-card .remove-button {
  margin-left: 8px;
}

.question-card .buttons {
  display: flex;
}

.question-card button {
  height: 16px;
  border-radius: 8px;
  font-size: 10px;
}

/* add button */

#content .add-button {
  flex: 0 0 auto;
  width: 128px;
  height: 64px;
}
